@use "../variables" as *;

button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  // background-color: $primary-color;
  background-color: white;
  // color: white;
  color: $primary-color;
  &:hover {
    opacity: 0.8;
  }
}
