@use './variables';

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    flex-shrink: 0;
  }
  input,
  textarea {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid variables.$border-color;
    background-color: variables.$surface-color;
    color: variables.$text-color;
  }
}

.log-form {
  padding: 15px;
  border-radius: 8px;
  background-color: #2a2a2a;
  margin-bottom: 2rem;
}

.edit-form {
  padding: 15px;
  border: 1px dashed variables.$border-color;
  border-radius: 8px;
  input,
  textarea {
    padding: 6px;
    font-size: 0.9em;
  }
  .edit-form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column; //frexを縦
    align-items: flex-start; //左揃え
    margin-bottom: 20px;

    label {
      width: auto; //幅は固定しない
      margin-right: 0;
      margin-bottom: 5px; //隙間を開ける
      text-align: left;
    }

    input,
    textarea {
      width: 100%; //横幅いっぱい
    }
  }

  .edit-form .edit-form-actions {
    justify-content: center; //中央揃え
  }
}