//共通スタイル

$primary-color: #5a5a5a;
$text-color: rgba(255, 255, 255 , 0.87);
$background-color: #242424;
$surface-color: #333;
$surface-variant: #3d3d3d;
$border-color: #555;
$accent-red-color: #E74C3c;