@import './variables';
@import './button';
@import './form';

body {
  margin: 0;
  font-size: system-ui, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

*::before,
*::after {
  box-sizing: border-box;
}

