.listContainer {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;

  // PC: 3カラム
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 450px);
  }
  // タブレット: 2カラム
  @media (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, minmax(0, 450px));
  }

  // スマホ: 1カラム
  @media (max-width: 767px) {
    grid-template-columns: minmax(0, 1fr);
    padding: 10px;
  }
}
